
import(methods)

useDynLib(RMonetDB, .registration = TRUE, .fixes = "C_")

importFrom(stats, runif)

export(
       RMonetDBConnect,
       RMonetDBClose,
       RMonetDBStartTransaction,
       RMonetDBCommit,
       RMonetDBRollback,
       RMonetDBGetInfo,
       RMonetDBIsConnected,
       RMonetDBListTables,
       RMonetDBListFields,
       RMonetDBExecute,
       RMonetDBQuery,
       RMonetDBQuote,
       RMonetDBUnQuote,
       RMonetDBLoadDataFrame,
       dbquery,
       dbexecute,
       dbwrite
)

exportClasses(
              RMonetDB_Connector
)

S3method(print, "RMonetDB_Connector")

S3method(close, "RMonetDB_Connector")

